@use "../placeholders/" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.centered {
    @extend %flex-centered;
  }

  &.centered_top {
    @extend %flex-top-centered;
  }
}
